BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 200
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
SortIncludes: false
AlwaysBreakTemplateDeclarations: false